.headers {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}
.headers-title {
  font-size: 3rem;
  display: flex;
  align-items: center;
}
.headers-title a {
  color: #8b95c9;
}
.headers-borderBottom {
  position: absolute;
  border-bottom: solid;
  bottom: 0;
  width: 80%;
  border-width: 1.5px;
  border-color: #84dcc6;
}
