.renderUsers-users-container {
  max-height: 14rem;
}
.renderUsers-users {
  overflow-y: scroll;
  max-height: 9.5rem;
}
.renderUsers-user {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.renderUsers-user-status {
  display: flex;
  gap: 0.5rem;
}
.renderUsers-user-status-acceptBtn {
  color: rgb(144, 230, 144);
}
.renderUsers-user-status-declineBtn {
  color: rgb(161, 22, 22);
}
.renderUsers-users-title {
  font-size: 1.5rem;
}
.renderUsers-user-addBtn {
  color: rgb(144, 230, 144);
}
