.renderFriendReq-title {
  font-size: 1.5rem;
}
.renderFriendReq-friendReq-request {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.renderFriendReq-friendReq-request-acceptBtn {
  color: rgb(144, 230, 144);
}
.renderFriendReq-friendReq-request-declineBtn {
  color: rgb(161, 22, 22);
}
.renderFriendReqs {
  overflow-y: scroll;
  height: 4rem;
}
