.landingPage-people {
  border-top: solid;
}
.landingPage-people-user {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.landingPage-people-friends-request {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.landingPage-people-user-status {
  display: flex;
  gap: 0.5rem;
}
