.profile-posts-form-postbox {
  width: 500px;
  height: 80px;
}
.profile-posts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.profile-posts-form-button {
  width: 50px;
}

.profile-posts-tab {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.profile-posts-tab-tab {
  border: solid;
  border-radius: 0.5rem;
  padding: 0.2rem;
}
