.profile-container {
  height: 70vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.profile-userInfo-tag {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.profile-userInfo {
  grid-column: 1/5;
  margin-top: 2rem;
}
.profile-username-username {
  font-size: 2rem;
}
.profile-bio-bio {
  margin-left: 10rem;
  margin-top: 0.5rem;
  font-style: italic;
}
.profile-container .chatSystem {
  grid-row: 2/6;
  grid-column: 1/2;
}
.profile-friends {
  grid-column: 6/7;
  grid-row: 2/4;
}
.profile-users {
  grid-column: 6/7;
  grid-row: 4/6;
}

.profile-posts {
  grid-column: 2/6;
  grid-row: 3/6;
}

.profile-tab {
  grid-column: 2/6;
  grid-row: 2/3;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: end;
}

.profile-tab-tab {
  border: solid;
  border-radius: 0.5rem;
  border-width: 1.5px;
  padding: 0.2rem;
  height: 1.6rem;
}
.profile-tab-tab:hover {
  border-color: rgb(80, 19, 116);
  background-color: black;
}
.profile-myPosts {
  grid-column: 2/6;
  grid-row: 3/6;
}
