.profile-container {
  height: 70vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
}
.profile-userInfo-tag {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.profile-userInfo {
  grid-column: 1/4;
}
