.signUpPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.signUpPage-backBtn {
  align-self: flex-start;
  padding: 3rem;
}
.signUpPage-title {
  font-size: 3rem;
  margin: 3rem 0;
}

.signUpPage-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}
.signUpPage-form-input {
  width: 200px;
}
.signUpPage-errorMsgs {
  margin-top: 2rem;
}
