.signInPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.signInPage-title {
  font-size: 2.5rem;
  margin-bottom: 6rem;
}
.signInPage-instruction {
  margin-bottom: 2rem;
}
.signInForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.signInForm input {
  width: 15rem;
  text-align: center;
}

.signInForm button {
  width: 15.5rem;
}
.signInPage-errorMsgs {
  margin-top: 2rem;
}
