.chatSystem {
  position: relative;
}
.chatSystem-title {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.chatSystem .newMessages {
  font-weight: bold;
}
.chatSystem-user {
  display: flex;
  gap: 1rem;
}
.chatSystem-user-newMessage {
  color: yellow;
}
.chatSystem-users {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* .chatSystem-borderRight {
  position: absolute;
  border-right: solid;
  border-width: 1px;
  right: 0;
  top: 0;

  height: 100%;
} */
