.chatSystem {
  position: relative;
}
.chatSystem-title {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.chatSystem .newMessages {
  font-weight: bold;
}
.chatSystem-users {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  height: 23rem;
  overflow-y: scroll;
  margin-top: 2rem;
  /* direction: rtl; */
}
.chatSystem-user {
  display: flex;
  gap: 1rem;
  /* direction: ltr; */
}
.chatSystem-user-newMessage {
  color: yellow;
}
