.chatSystem-title {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.chatSystem .newMessages {
  font-weight: bold;
}
.chatSystem-users {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
