.landingPage-posts-container {
  position: relative;
  padding: 0 5rem;
  margin-top: 4rem;
}
.landingPage-posts-title {
  font-size: 2.5rem;
}
.landingPage-posts-form {
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingPage-posts-postBox {
  width: 500px;
  height: 80px;
  font-size: 1rem;
}
.landingPage-posts-form-btn {
  width: 5rem;
  margin: 1rem 0;
}
.landingPage-posts-posts-post {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
}
.landingPage-posts-posts-post-info {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-style: italic;
}

.landingPage-posts-borderLeft {
  position: absolute;
  height: 60%;
  left: 0;
  top: 10%;
  border: solid;
  border-width: 1px;
}
.landingPage-posts-borderRight {
  position: absolute;
  height: 60%;
  right: 0;
  top: 10%;
  border: solid;
  border-width: 1px;
}
