.landingPage-people-friends-request {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.landingPage-people-friends-friends-title {
  font-size: 1.5rem;
}

.landingPage-people-friends-title {
  font-size: 1.5rem;
}
