.chatbox {
  display: flex;
  flex-direction: column;
  width: 18rem;
  font-size: 12px;
  border: solid;
  border-width: 0.5px;
  padding: 1rem;
}
.chatbox-postMsg {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
}
.chatbox-display {
  border-top: solid;
  height: 4rem;
  border-width: 0.5px;
}
.chatbox-msgBox {
  height: 3rem;
  width: 98%;
}
.chatbox-sendBtn {
  width: 3rem;
}
