.chatbox {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 18rem;
  font-size: 12px;
  border: solid;
  border-width: 0.5px;
  padding: 1rem;
  margin: 0.5rem;
  background-color: rgb(94, 122, 116);
  border-radius: 1.5rem;
}
.chatbox-postMsg {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
}
.chatbox-display {
  padding: 0.5rem;
  border-top: solid;
  height: 9rem;
  border-width: 0.5px;
  overflow: scroll;
  overflow-x: hidden;
}
.chatbox-msgBox {
  height: 3rem;
  width: 98%;
}
.chatbox-sendBtn {
  width: 3rem;
}
.chatbox-closeBtn-container {
  display: flex;
  justify-content: end;
}
.chatbox-closeBtn {
  margin-right: 1rem;
  font-size: 16px;
}
