#root {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.errorMsg {
  color: red;
  font-style: italic;
}
a {
  text-decoration: none;
  color: white;
}

textarea {
  color: #ffffff;
  border-color: #478978;
  padding: 0.5rem;
}

.checkSignedInUserBtn {
  top: 0;
  right: 0;
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
  border-radius: 1rem;
}
.cursor-pointer:hover {
  color: rgb(51, 66, 201);
}
button {
  border-radius: 0.4rem;
}

button:hover {
  background-color: black;
  border-color: #8b95c9;
  box-shadow: 0 0 5px 2px #acd7ec;
}
